@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html {
  --text: #56473e;
  --theme: #a3815d;
  --footercolor: #e7e2de;
  --adminbg: #f9fafa;
}

.test {
  border: 1px solid red;
}

.hidescroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.themescroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.themescroll::-webkit-scrollbar-thumb {
  @apply bg-theme;
  border-radius: 100px;
}

body {
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

/* inuput fields */
.forminput:focus + label {
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  font-size: 12px;
}
.forminput:valid + label {
  opacity: 0;
}

.forminput:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.forminput:-moz-autofill {
  -moz-box-shadow: 0 0 0px 1000px white inset;
  -moz-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.forminput:-moz-focusring {
  outline: 1px dotted transparent;
  transition: color 0;
}

.marquee-content {
  /* width: max-content;  */
  animation: marquee 40s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* blinkingdot */
.blinkingdot {
  animation: blinkingdot 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes blinkingdot {
  0% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}

/* category descriptions */
.text {
  line-height: 1.5;
  text-align: justify;
}

/* Headings */
.text h1 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
}

.text strong {
  font-weight: bold;
}

.text h2 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

/* Paragraphs */
.text p {
  font-size: 12px;
  margin: 5px 0;
}

/* Lists */
.text ul {
  list-style: disc;
  padding-left: 15px;
  margin-bottom: 10px;
}

.text li {
  font-size: 12px;
  margin-bottom: 5px;
}

/* Links */
.text a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.text a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Inline Elements */
.text strong {
  font-weight: bold;
  color: var(--theme);
}

.text em {
  font-style: italic;
}
